/*********************************
 *                               *
 * NeoCD/SDL Win32 Resource File *
 *                               *
 *********************************
 *Fosters 2001                   *
 *********************************/


/*********
 * Icons *
 *********/
NEOICON                ICON    DISCARDABLE     "neocd.ico"
